body {
  font-size: 18px;
  text-align: center;
  background-color: whitesmoke;
  color: #333;
  font-family: "Roboto Mono", monospace;
}
.container {
  width: 80%;
  margin: auto;
}
.header {
  background-image: url("/images/Neighborhood.jpeg");
  background-repeat: round;
  background-position: 0 -30px;
  background-size: auto 100%;
}
h1 {
  margin-top: 0;
  font-family: "BIZ UDMincho", serif;
}
#number-form {
  background-color: whitesmoke;
  width: 30%;
  margin: auto;
  padding: 25px;
  border: 3px solid green;
  border-radius: 5px;
}
button {
  border: none;
  background-color: rgb(134, 182, 134);
  padding: 7px;
  border-radius: 5px;
  margin-top: 15px;
}
button:hover {
  background-color: green;
  cursor: pointer;
}
input {
  margin-top: 10px;
}

ul {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
li {
  opacity: 0;
  width: 150px;
  margin: auto;
  list-style: none;
  height: 65px;
}
.beep {
  font-family: "Anybody", cursive;
  color: blueviolet;
}

.boop {
  font-family: "Kanit", sans-serif;
  color: darkcyan;
}

.neighbor {
  font-family: "Ingrid Darling", cursive;
  font-size: 25px;
  color: goldenrod;
}

li.show {
  opacity: 1;
  animation-name: fly-in;
  animation-duration: 4s;
}

@keyframes fly-in {
  0% {
    color: red;
  }
  33% {
    color: orangered;
  }
  66% {
    color: orange;
  }
  100% {
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
  }
}
